
<head>
    <meta charset="UTF-8">
    <title> About forum </title>
</head>
<body>
<h1> Привет! Поздравляю, ты попал на форум меломанов. Думаешь, что форумы мертвы и это пережиток прошлого? Неужели?
     А как тебе рекомендации музыки ВК или Яндекс.музыки? Если тебя это не устраивает, то тебе у нас понравится. Почему?
     Да потому что здесь ты легко найдешь единомышленников по музыкальному вкусу и сможешь постоянно обновлять свой плейлист
     той музыкой, которая тебе по душе.
    <br>
     Знакомься
    <br>
     Скачивай
    <br>
     Загружай
    <br>
     Но сначала ЗАРЕГИСТРИРУЙСЯ
    <br> Уже зарегистрирован? Красавчик, заходи, дорогой, авторизованным пользователем будешь!
</h1>
</body>
